.opac-svg {
    opacity: 0.5; /* Adiciona opacidade padrão */
    transition: opacity 0.3s ease; /* Adiciona uma transição suave */
}

/* Quando o mouse passa por cima, aumenta a opacidade */
.opac-svg:hover {
    opacity: 1;
}

.opac-svg:active {
    opacity: 1;
}

.group:hover .group-hover\:opacity-100 {
    opacity: 1;
}
